<!--------------------------------------------------------------- Content Starts Here --------------------------------------------------------------->
<div class="box_ip_centers">
    <h3>CENTERS </h3>
    <ul>
        <li>
            <a href="http://blogs.kentlaw.iit.edu/cdelta" target="_blank">Center for Design, Law & Technology (cΔ)</a>
        </li>
        <li>
            <a href="/node/4166">Center for the Empirical Study of Intellectual Property (CESIP)</a>
        </li>
    </ul>
</div>
<div class="box_ip_curriculum">
    <h3>CURRICULUM </h3>
    <p>Chicago-Kent’s IP curriculum includes a variety of academic programs, skills training opportunities and other offerings relating to the study of intellectual property law.</p>
    <ul>
        <li><a href="/node/3086">J.D. Certificate Program in Intellectual Property Law</a></li>
        <li><a href="/node/3091">IP Curriculum</a></li>
        <li><a href="/node/12901">IP Course Descriptions</a></li>
        <li><a href="/node/3111">IP Patent Clinic</a></li>
        <li><a href="/node/3116">IP Externships</a></li>
        <li><a href="/node/16">1L Your Way Program</a></li>
        <li><a href="/node/3556">Graduate (LL.M.) Program in International Intellectual Property</a></li>
        <li><a href="/node/3771">Master of Intellectual Property Management and Markets Program</a></li>
        <li><a href="/node/16846">Online Certificate Program in Intellectual Asset Management (non-degree)</a></li>
        <li><a href="/node/2366">Career Path: Intellectual Property Law</a></li>
    </ul>
</div>
<div class="box_ip_student_activities"><h3>STUDENT ACTIVITIES </h3>
    <ul><li><a href="http://studentorgs.kentlaw.iit.edu/ckjip/" target="_blank">Chicago-Kent Journal of Intellectual Property and of the PTAB Bar Association</a></li>
           <li><a href="http://studentorgs.kentlaw.iit.edu/ipls/" target="_blank">Intellectual Property Law Society</a></li>
           <li><a href="http://studentorgs.kentlaw.iit.edu/acpls/" target="_blank">Art and Cultural Property Law Society</a></li>
           <!-- <li>Intellectual Property Moot Court</</li> -->
    </ul>
</div>
<div class="box_ip_faculty"><h3>IP FACULTY </h3>
    <ul>
        <li><a href="/node/3096/#fulltime_ip">Full-time Faculty</a></li>
        <li><a href="/node/3096#ip_fellows">Adjunct Faculty</a></li>
    </ul>
</div>
<div class="box_ip_patent_hub">
    <h3>PATENT HUB </h3>
    <ul>
        <li><a href="/node/4721">Chicago-Kent Patent Hub (Pro Bono)</a></li>
        <li><a href="/node/17501">Patent Hub News</a></li>
    </ul>
</div>
<div class="box_ip_conferences">
    <h3>CONFERENCES </h3>
    <ul>
        <li><a href="/node/3931">Supreme Court IP Review (SCIPR)</a></li>
        <li><a href="/node/15171">The Power of PTAB</a></li>
        <!-- <li>BookIT Talks</li> -->
        <li><a href="http://chicagoip.com/" target="_blank">Chicago Intellectual Property Colloquium</a></li>
        <li><a href="/node/3146">Events Calendar</a></li>
    </ul>
</div>
</div>
<!--------------------------------------------------------------- Content Ends Here --------------------------------------------------------------->
	<div class="col-md-4 col-sm-6 col-xs-12 txtonimgbtn-item" id="box_ip_faculty"><a href="#box_ip_faculty">
		<div class="txtonimgbtn-link"><img alt="Photo of Prof. Greg Reilly teaching class" class="txtonimgbtn-img" src="/sites/ck/files/public/academics/jd/certificates/ip/modal/Greg-Reilly-Patent-Law-460x340px.jpg" /> <span class="txtonimgbtn-txt">IP FACULTY</span></div></a>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-12 txtonimgbtn-item" id="box_ip_curriculum"><a href="#box_ip_curriculum">
		<div class="txtonimgbtn-link"><img alt="Photo of Prof. Edward Lee" class="txtonimgbtn-img" src="/sites/ck/files/public/academics/jd/certificates/ip/modal/Ed-Lee-PLUS-2018-460x340px.jpg" /> <span class="txtonimgbtn-txt">CURRICULUM</span></div></a>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-12 txtonimgbtn-item" id="box_ip_student_activities"><a href="#box_ip_student_activities">
		<div class="txtonimgbtn-link"><img alt="Photo of a winning IP appellate advocacy competition team" class="txtonimgbtn-img" src="/sites/ck/files/public/academics/jd/certificates/ip/modal/Lefkowitz-Champions-2018-Kline-Wedeen-Kaplan-460x340px.jpg" /> <span class="txtonimgbtn-txt">STUDENT ACTIVITIES</span></div></a>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-12 txtonimgbtn-item" id="box_ip_centers"><a href="#box_ip_centers">
		<div class="txtonimgbtn-link"><img alt="Center for Design, Law & Technology logo" class="txtonimgbtn-img" src="/sites/ck/files/public/academics/jd/certificates/ip/modal/cDelta-gradient_460x340.jpg" /> <span class="txtonimgbtn-txt first-txt">CENTERS</span>
		</div></a>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12 txtonimgbtn-item" id="box_ip_patent_hub"><a href="#box_ip_patent_hub">
		<div class="txtonimgbtn-link"><img alt="Diagram from an issued patent" class="txtonimgbtn-img" src="/sites/ck/files/public/academics/jd/certificates/ip/modal/Patent-Diagram-460x340_right.jpg" /> <span class="txtonimgbtn-txt">PATENT HUB</span></div></a>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-12 txtonimgbtn-item" id="box_ip_conferences"><a href="#box_ip_conferences">
		<div class="txtonimgbtn-link"><img alt="Photo of Seth Waxman delivering Supreme Court IP Review Address" class="txtonimgbtn-img" src="/sites/ck/files/public/academics/jd/certificates/ip/modal/Seth-Waxman-SCIPR-2017-460x340px.jpg" /> <span class="txtonimgbtn-txt">CONFERENCES</span></div></a>
	</div>

</div>
