@media only screen and (max-device-width : 480px) {
div.container-fluid.honors_scholars{ display: none; }
}
.honors_scholars{
padding: 0;
}

.honors_scholars > p {
margin: 0;
padding: 0;
display: block;
clear: both;
}


