<div class="table-responsive">
<table cellspacing="15" class="table table-hover">
  <tr>
    <th>Cumulative <br>Credits</th>
    <th>Cumulative<br> GPA</th>
    <th></th>
    <th>Cumulative <br>Quality Points*</th>
  </tr>
    <tr>
    <td><input type="text" name="credit" size="5"  class="form-control"></td>
    <td><input type="text" name="gpa" class="form-control" size="5" /></td>
      <td><button id="compute" class="btn btn-primary">Compute</button></td>
    <td class="allPoints" id="cumulativeQualityPoints"></td>
  </tr>
  <tr>
    <th>Credits</th>
    <th>Letter Grade*</th>
    <th></th>
    <th>Quality Points*</th>
    <td></td>
  </tr>
    <tr>
    <td><select name="credit" class="form-control">
    <option value="0">- Select -</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
</select></td>
    <td><select name="grade" class="form-control">
  <option value="0">- Select -</option>
  <option value="A">A</option>
  <option value="A-">A-</option>
  <option value="B+">B+</option>
  <option value="B">B</option>
  <option value="B-">B-</option>
  <option value="C+">C+</option>
  <option value="C">C</option>
  <option value="C-">C-</option>
  <option value="D+">D+</option>
  <option value="D">D</option>
  <option value="D-">D-</option>
  <option value="F">F</option>
</select></td>
      <td><button id="compute" class="btn btn-primary">Compute</button></td>
    <td class="allPoints" id="qualityPoints"></td>
  </tr>
    <tr>
    <td><select name="credit" class="form-control">
  <option value="0">- Select -</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
</select></td>
    <td><select name="grade" class="form-control">
  <option value="0">- Select -</option>
  <option value="A">A</option>
  <option value="A-">A-</option>
  <option value="B+">B+</option>
  <option value="B">B</option>
  <option value="B-">B-</option>
  <option value="C+">C+</option>
  <option value="C">C</option>
  <option value="C-">C-</option>
  <option value="D+">D+</option>
  <option value="D">D</option>
  <option value="D-">D-</option>
  <option value="F">F</option>
</select></td>
    <td><button class="btn btn-primary">Compute</button></td>
    <td class="allPoints" id="qualityPoints"></td>
  </tr>
    <tr>
    <td><select name="credit" class="form-control">
      <option value="0">- Select -</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
</select></td>
    <td><select name="grade" class="form-control">
  <option value="0">- Select -</option>
  <option value="A">A</option>
  <option value="A-">A-</option>
  <option value="B+">B+</option>
  <option value="B">B</option>
  <option value="B-">B-</option>
  <option value="C+">C+</option>
  <option value="C">C</option>
  <option value="C-">C-</option>
  <option value="D+">D+</option>
  <option value="D">D</option>
  <option value="D-">D-</option>
  <option value="F">F</option>
</select></td>
    <td><button class="btn btn-primary">Compute</button></td>
    <td class="allPoints" id="qualityPoints"></td>
  </tr>
    <tr>
    <td><select name="credit" class="form-control">
     <option value="0">- Select -</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
</select></td>
    <td><select name="grade" class="form-control">
  <option value="0">- Select -</option>
  <option value="A">A</option>
  <option value="A-">A-</option>
  <option value="B+">B+</option>
  <option value="B">B</option>
  <option value="B-">B-</option>
  <option value="C+">C+</option>
  <option value="C">C</option>
  <option value="C-">C-</option>
  <option value="D+">D+</option>
  <option value="D">D</option>
  <option value="D-">D-</option>
  <option value="F">F</option>
</select></td>
    <td><button class="btn btn-primary">Compute</button></td>
    <td class="allPoints" id="qualityPoints"></td>
  </tr>
    <tr>
    <th>New Cumulative <br>Credits</th>
    <th>New Cumulative<br> Overall GPA</th>
    <th></th>
    <th>New Cumulative <br>Overall Quality Points*</th>
  </tr>
    <tr>
      <td style="font-weight:bold" id="newCumulativeCredits" class="text-danger"></td>
      <td style="font-weight:bold" id="newCumulativeGpa" class="text-danger"><strong></strong></td>
      <td></td>
    <td style="font-weight:bold" id="newCumulativeQualityPoints" class="text-danger"><strong></strong></td>
  </tr>

  </table>
</div>
<hr>
<p><strong>Chicago-Kent uses only the following letter grades and Quality Points for J.D. students:</strong></p>
<div class="table-responsive">
<table class="table table-condensed">

        <tr>
          <td>A</td>
          <td>4.0</td>
        </tr>
        <tr>
          <td>A-</td>
          <td>3.7</td>
        </tr>

        <tr>
          <td>B+</td>
          <td>3.3</td>
        </tr>

        <tr>
          <td>B</td>
          <td>3.0</td>
        </tr>
        <tr>
          <td>B-</td>
          <td>2.7</td>
        </tr>

        <tr>
          <td>C+</td>
          <td>2.3</td>
        </tr>

        <tr>
          <td>C</td>
          <td>2.0</td>
        </tr>

        <tr>
          <td>C-</td>
          <td>1.7</td>
        </tr>

        <tr>
          <td>D+</td>
          <td>1.3</td>
        </tr>
        <tr>
          <td>D</td>
          <td>1.0</td>
        </tr>

        <tr>
          <td>D-</td>
          <td>0.7</td>
        </tr>
        <tr>
          <td>F</td>
          <td>0.0</td>
        </tr>
      </table>
</div>